.card-user {
    max-width: 26vw;
}

.card-request {
    max-width: 35vw;
}

.link-header h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.orders-body:hover {
    border-bottom: 1px solid rgba(0,0,0,.05) !important;
}
