.icon {
    background: no-repeat center;
    width: 16px;
    height: 16px;
}

.viewed {
    background: url("../../assets/icons/viewed.svg");
    opacity: 0.3;
}

.accepted {
    background: url("../../assets/icons/accepted.svg");
}

.rejected {
    background: url("../../assets/icons/rejected.svg");
}